.registerContainer .registerform {
    display: flex;
    width: 500px;
    flex-direction: column;
    padding: 20px;
    height: auto;
    border: 2px solid rgb(0, 132, 255);
    border-radius: 5px;
    margin-top: 30px;
}
.registerContainer #inputregister{
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
}

.registerContainer label{
    text-align: left;
    padding: 10px;
}

.registerContainer button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 5px;
    height: 40px;
}

.registerContainer button:hover{
    background-color: rgba(0, 132, 255, 0.767);
}

.registerContainer .error{
    color:red;
    text-align: left;
    padding: 0 10px;
}